# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Виртуальные окружения ---
venv/
ENV/
env/
.venv/

# --- Тестирование и Покрытие ---
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# --- Allure (Результаты тестов не храним в Git) ---
results/
final-report/
allure-results/
allure-report/

# --- IDE и Редакторы ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~
.history/

# --- Окружение и Секреты ---
.env
.envrc
*.log

# --- Тестовые артефакты и Cookies ---
*.json
!config/settings.json
aviasales_cookies.json

# --- ОС ---
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/